@inject AppMetaState MetaState

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>@MetaState.Title</title>
<base href="/" />
<link href="css/site.css" rel="stylesheet" />

@code{

    protected override void OnInitialized()
    {
        MetaState.CallStateHasChanged = StateHasChanged;
    }
}