<nav class="nav">
    <NavLink ActiveClass="" href="">
        <img alt="Blazor Hacker News Logo" class="icon" src="./img/logo.png" />
    </NavLink>

    <ul>
        <li>
            <NavLink href="top">
                top
            </NavLink>
        </li>
        <li>
            <NavLink href="new">
                new
            </NavLink>
        </li>
        <li>
            <NavLink href="show">
                show
            </NavLink>
        </li>
        <li>
            <NavLink href="ask">
                ask
            </NavLink>
        </li>
        <li>
            <NavLink href="jobs">
                jobs
            </NavLink>
        </li>
    </ul>
</nav>