<nav class="nav">
    <NavLink ActiveClass="" href="">
        <img alt="Blazor Hacker News Logo" class="icon" src="./img/logo.png" />
    </NavLink>

    <ul>
        <li>
            <NavLink href="top/1" Match="NavLinkMatch.All">
                top
            </NavLink>
        </li>
        <li>
            <NavLink href="new/1" Match="NavLinkMatch.All">
                new
            </NavLink>
        </li>
        <li>
            <NavLink href="show/1" Match="NavLinkMatch.All">
                show
            </NavLink>
        </li>
        <li>
            <NavLink href="ask/1" Match="NavLinkMatch.All">
                ask
            </NavLink>
        </li>
        <li>
            <NavLink href="jobs/1" Match="NavLinkMatch.All">
                jobs
            </NavLink>
        </li>
    </ul>
</nav>